@model IEnumerable<Suec_Data2.Models.DataModel>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <table border="1" >
            <span id="spanA">
                <tr>
                    <td align="center">Date</td>
                    <td align="center">Ticket</td>
                    <td align="center">Response Minutes</td>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td align="center"> @Html.DisplayFor(modelItem => item.Date)</td>
                            <td align="center"> @Html.DisplayFor(modelItem => item.Ticket)</td>
                            <td align="center"> @Html.DisplayFor(modelItem => item.ResponseMinutes)</td>
                        </tr>
                    }
                }

            </span>
        </table>
        <hr>
        Ticket Sum:@Model.Sum(Model => Model.Ticket) | 平均回應時間: @ViewBag.Day 天  @ViewBag.Hr 時 @ViewBag.Minutes 分

    </div>
</body>
</html>
