@model Suec_Data2.Models.DataViewModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Table.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="fancytable">
            <tr class="headerrow">
                <td align="center">Date</td>
                <td align="center">Ticket</td>
                <td align="center">Response Minutes</td>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model.DataList)
                {
                    <tr class="datarowodd">
                        <td align="center"> @Html.DisplayFor(modelItem => item.Date)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.Ticket)</td>
                        <td align="center"> @Html.DisplayFor(modelItem => item.ResponseMinutes)</td>
                    </tr>
                }
            }
        </table>
        <hr>
        Ticket Sum:@Model.DataList.Sum(Model => Model.Ticket)
        <br>  平均回應時間: @Model.Day 天  @Model.Hour 時 @Model.Minutes 分</br>

    </div>
</body>
</html>
